<%= form_for(@reporte) do |f| %>
  <% if @reporte.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reporte.errors.count, "error") %> prohibited this reporte from being saved:</h2>

      <ul>
      <% @reporte.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div style="background-color: #333333; padding: 15px; display: block; border-radius: 2%;">
    <div class="ui inverted form">
      <div class="two fields">
        <div class="field">
          <label>Asignatura</label><br>
          <%=  %>
          <%= f.select(:asignatura_id,options_from_collection_for_select(Asignatura.all, :id, :nombre), { :class => 'ui fluid selection dropdown' }) %>
        </div>
        <div class="field">
          <label>Codigo de la asignatura</label><br>
          <div class="ui input">
            <input id="reporte_codigo_asignatura" name="reporte[numero_estudiantes]" disabled/>
          </div>
        </div>
      </div>
      <div class="field">
        <%= f.label :numero_estudiantes %><br>
        <div class="ui input">
          <%= f.number_field :numero_estudiantes %>
        </div>
      </div>
      <div class="field">
        <%= f.label :docente_id %><br>
        <%= f.select(:docente_id,options_from_collection_for_select(Docente.all, :id, :nombre), { :class => 'select-block mbn' }) %>
      </div>
      <div class="field">
        <%= f.label :comentario %><br>
        <div class="ui form">
          <%= f.text_area :comentario %>
        </div>
      </div>
      <div class="actions">
        <%= f.submit :class => "ui blue submit button" %>
      </div>
    </div>
  </div>
<% end %>
