<h2 class="ui header">
  <i class="inbox icon"></i>
  Listado de reportes
</h2>

<table>
  <thead>
    <tr>
      <th>Asignatura</th>
      <th>Codigo Asignatura</th>
      <th>Numero de estudiantes</th>
      <th>Docente</th>
      <th>Comentarios</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reportes.each do |reporte| %>
      <tr>
        <td><%= reporte.asignatura.nombre %></td>
        <td><%= reporte.asignatura.codigo %></td>
        <td><%= reporte.numero_estudiantes %></td>
        <td><%= link_to reporte.docente.nombre, docente_path(reporte.docente) %></td>
        <td><%= reporte.comentario %></td>
        <td><%= link_to 'Show', reporte,"data-no-turbolink" => true %></td>
        <td><%= link_to 'Edit', edit_reporte_path(reporte),"data-no-turbolink" => true %></td>
        <td><%= link_to 'Destroy', reporte, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reporte', new_reporte_path,"data-no-turbolink" => true %>
